---
import SiteFooter from '@/partials/footer/site-footer.astro'
import SiteHeader from '@/partials/header/site-header.astro'
import MainLayout from '@/layouts/main-layout.astro'
import P from '@/partials/docs/paragraph.astro'
import CmdBtn from '@/partials/docs/cmd-btn.astro'
import Alert from '@/partials/docs/alert.astro'
import CodeInline from '@/partials/docs/code-inline.astro'
import H2 from '@/partials/docs/h2.astro'
import H3 from '@/partials/docs/h3.astro'
---

<MainLayout
  title='Warpdive Docs'
  desc='How to install warpdive-cli'
>
  <div vaul-drawer-wrapper=''>
    <div class='relative flex min-h-screen flex-col bg-background'>
      <SiteHeader />
      <main class='flex-1'>
        <div class='border-b'>
          <div
            class='container flex-1 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10'
          >
            <aside class='fixed top-14 z-30 -ml-2 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block'>
              <div
                dir='ltr'
                class='relative h-full overflow-hidden py-6 pr-6 lg:py-8'
                style='position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;'
              >
                <style>
                  [data-radix-scroll-area-viewport] {
                    scrollbar-width: none;
                    -ms-overflow-style: none;
                    -webkit-overflow-scrolling: touch;
                  }
                  [data-radix-scroll-area-viewport]::-webkit-scrollbar {
                    display: none;
                  }
                </style>
                <div
                  data-radix-scroll-area-viewport=''
                  class='h-full w-full rounded-[inherit]'
                  style='overflow: hidden scroll;'
                >
                  <div style='min-width: 100%; display: table;'>
                    <div class='w-full'>
                      <div class='pb-4'>
                        <h4 class='mb-1 rounded-md px-2 py-1 text-sm font-semibold'>Getting Started</h4><div
                          class='grid grid-flow-row auto-rows-max text-sm'
                        >
                          <a
                            class='group flex w-full items-center rounded-md border border-transparent px-2 py-1 font-medium text-foreground hover:underline'
                            target=''
                            rel=''
                            href='/docs'
                            >Introduction</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
            <main class='relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]'>
              <div class='mx-auto w-full min-w-0'>
                <div class='mb-4 flex items-center space-x-1 text-sm text-muted-foreground'>
                  <div class='overflow-hidden text-ellipsis whitespace-nowrap'>Docs</div>
                  <svg
                    width='15'
                    height='15'
                    viewBox='0 0 15 15'
                    fill='none'
                    xmlns='http://www.w3.org/2000/svg'
                    class='h-4 w-4'
                    ><path
                      d='M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z'
                      fill='currentColor'
                      fill-rule='evenodd'
                      clip-rule='evenodd'
                    ></path></svg
                  >
                  <div class='font-medium text-foreground'>Introduction</div>
                </div>
                <div class='space-y-2'>
                  <h1 class='scroll-m-20 text-4xl font-bold tracking-tight'>Introduction</h1><p
                    class='text-lg text-muted-foreground'
                  >
                    <span
                      data-br=':r25:'
                      data-brr='1'
                      style='display: inline-block; vertical-align: top; text-decoration: inherit; max-width: 511px;'
                      >Easy to use Container Inspector, works with CI.</span
                    >
                  </p>
                </div>
                <div class='pb-12 pt-8'>
                  <div class='mdx'>
                    <ol>
                      <li>1. Create an API Key in your Settings.</li>
                      <li>2. Log into warpdive-cli and paste your API Key when prompted</li>
                    </ol>
                    <CmdBtn
                      cmd={'npx'}
                      args={['warpdive', 'login']}
                    />
                    <ol>
                      <li>You can then simply push images to your account</li>
                    </ol>
                    <CmdBtn
                      cmd={'npx'}
                      args={['warpdive', 'push', 'ubuntu:latest']}
                    />
                    <Alert>
                      Note: You may need to pull the image you&rsquo;re trying to push to warpdive first. In this
                      example: <CodeInline>docker pull ubuntu:latest</CodeInline>
                      will fetch the image locally so it can be used.
                    </Alert>
                    <P
                      >You can also target container images you're working on. For instance with a directory containing
                      a <CodeInline>Dockerfile</CodeInline></P
                    >
                    <CmdBtn
                      cmd={'npx'}
                      args={['warpdive', 'build', '.', '--wd-project', 'example-image']}
                    />
                    <P> This will send the file warpdive generates to your account. </P>
                    <P>Read the command line help to learn more</P>
                    <CmdBtn
                      cmd={'npx'}
                      args={['warpdive', '-h']}
                    />
                    <P><i>Warpdive supports Docker and Podman</i></P>
                    <H3>Local Export</H3>
                    <P> You can also inspect containers completely offline. </P>
                    <CmdBtn
                      cmd={'npx'}
                      args={['warpdive', 'export', '.', '--wd-export', 'example-image']}
                    />
                    <P>
                      This will create a <CodeInline>.warpdive</CodeInline> file locally which you can inspect at <a
                        href='https://www.warpdive.xyz/viewer'
                        class='underline'
                        >warpdive.xyz/viewer</a
                      >. The file will be read in your browser and not be sent anywhere.
                    </P>
                    <H2><span class='font-mono'>.warpdive</span> File Format</H2>
                    <P>
                      Warpdive when &lsquo;building&rsquo; a container reads the layers and their contents in the
                      container image.
                    </P>
                    <P>
                      A <CodeInline><strong>.warpdive</strong></CodeInline> file is a snapshot of information, specifically,
                      the file hierarchy in each layer, file sizes, permissions and metadata such as file names etc. It does
                      not store the actual files that were added/removed, just the information about what files were added/removed.
                    </P>
                    <P>
                      This makes warpdive suitable for CI. Where you want to know what happened during a build, why a
                      layer isn't caching or what files are added/removed at each layer.
                    </P>
                    <P>
                      To report any issues, please submit an issue at <a
                        href='https://github.com/gvkhna/warpdive/issues'
                        class='underline'
                        >github.com/gvkhna/warpdive/issues</a
                      >
                    </P>
                  </div>
                </div>
              </div>
            </main>
          </div>
          <SiteFooter />
        </div>
      </main>
    </div>
  </div>
</MainLayout>
