<section>
  <div class='relative'>
    <div
      dir='ltr'
      class='relative max-w-[600px] overflow-hidden lg:max-w-none'
      style='position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;'
    >
      <style>
        [data-radix-scroll-area-viewport] {
          scrollbar-width: none;
          -ms-overflow-style: none;
          -webkit-overflow-scrolling: touch;
        }
        [data-radix-scroll-area-viewport]::-webkit-scrollbar {
          display: none;
        }
      </style>
      <div
        data-radix-scroll-area-viewport=''
        class='h-full w-full rounded-[inherit]'
        style='overflow: scroll;'
      >
        <div style='min-width: 100%; display: table;'>
          <div class='mb-4 flex items-center'>
            <a
              class='flex h-7 items-center justify-center rounded-full px-4 text-center text-sm text-muted-foreground transition-colors hover:text-primary'
              href='/examples/mail'
              >Mail</a
            ><a
              class='flex h-7 items-center justify-center rounded-full bg-muted px-4 text-center text-sm font-medium text-primary transition-colors hover:text-primary'
              href='/examples/dashboard'
              >Dashboard</a
            ><a
              class='flex h-7 items-center justify-center rounded-full px-4 text-center text-sm text-muted-foreground transition-colors hover:text-primary'
              href='/examples/cards'
              >Cards</a
            ><a
              class='flex h-7 items-center justify-center rounded-full px-4 text-center text-sm text-muted-foreground transition-colors hover:text-primary'
              href='/examples/tasks'
              >Tasks</a
            ><a
              class='flex h-7 items-center justify-center rounded-full px-4 text-center text-sm text-muted-foreground transition-colors hover:text-primary'
              href='/examples/playground'
              >Playground</a
            ><a
              class='flex h-7 items-center justify-center rounded-full px-4 text-center text-sm text-muted-foreground transition-colors hover:text-primary'
              href='/examples/forms'
              >Forms</a
            ><a
              class='flex h-7 items-center justify-center rounded-full px-4 text-center text-sm text-muted-foreground transition-colors hover:text-primary'
              href='/examples/music'
              >Music</a
            ><a
              class='flex h-7 items-center justify-center rounded-full px-4 text-center text-sm text-muted-foreground transition-colors hover:text-primary'
              href='/examples/authentication'
              >Authentication</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='overflow-hidden rounded-[0.5rem] border bg-background shadow'>
    <div class='md:hidden'>
      <img
        alt='Dashboard'
        loading='lazy'
        width='1280'
        height='866'
        decoding='async'
        data-nimg='1'
        class='block dark:hidden'
        srcset='/_next/image?url=%2Fexamples%2Fdashboard-light.png&w=1920&q=75 1x, /_next/image?url=%2Fexamples%2Fdashboard-light.png&w=3840&q=75 2x'
        src='/_next/image?url=%2Fexamples%2Fdashboard-light.png&w=3840&q=75'
        style='color: transparent;'
      /><img
        alt='Dashboard'
        loading='lazy'
        width='1280'
        height='866'
        decoding='async'
        data-nimg='1'
        class='hidden dark:block'
        srcset='/_next/image?url=%2Fexamples%2Fdashboard-dark.png&w=1920&q=75 1x, /_next/image?url=%2Fexamples%2Fdashboard-dark.png&w=3840&q=75 2x'
        src='/_next/image?url=%2Fexamples%2Fdashboard-dark.png&w=3840&q=75'
        style='color: transparent;'
      />
    </div>
  </div>
</section>
