---
import MainLayout from '@/layouts/main-layout.astro'
export const prerender = true
---

<MainLayout title='404'>
  <main class='flex-1'>
    <div class='flex h-screen flex-col items-center justify-center'>
      <div>
        <h1 class='mr-5 inline-block border-r-2 border-r-gray-300 p-5 text-lg font-medium leading-10'>404</h1>
        <div class='inline-block'>
          <h2 class='m-0 text-base font-normal leading-10'>This page could not be found.</h2>
        </div>
      </div>
    </div>
  </main>
</MainLayout>
