---
import AuthLayout from '@/layouts/auth-layout.astro'
import AlertFlash from '@/components/alert-flash.astro'
import {getFlashCookie, deleteAllCookies} from '@/lib/cookies'
export const prerender = false
let flash = getFlashCookie(Astro)
deleteAllCookies(Astro)
---

<AuthLayout title='Session Error'>
  <div class='mx-auto max-w-sm px-4 py-8'>
    <h3
      class='text-lg font-medium leading-6 text-gray-900'
      id='modal-headline'
    >
      Session Error
    </h3>
    <div class='mt-2'>
      <AlertFlash {flash} />
    </div>

    <div class='mt-6 border-t border-slate-200 pt-5'>
      <div class='text-sm'>
        If you encounter repeated issues contact us. <a
          class='font-medium text-indigo-500 hover:text-indigo-600'
          href='/signin'
        >
          Signin
        </a>
      </div>
    </div>
  </div>
</AuthLayout>
