<div
  role='alert'
  class='relative mt-6 w-full rounded-lg border bg-background px-4 py-3 text-sm text-foreground [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg]:text-foreground [&>svg~*]:pl-7'
>
  <div class='text-sm [&_p]:leading-relaxed'>
    <p class='leading-7 [&:not(:first-child)]:mt-6'>
      <slot />
    </p>
  </div>
</div>
