---
// main dashboard single page app

import HomeLayout from '@/layouts/home-layout.astro'
import {verifyValidSession} from '@/lib/github-client'

export const prerender = false

const existingSession = await verifyValidSession(Astro)
if (!existingSession.valid && existingSession.redirect) {
  return existingSession.redirect
}
---

<HomeLayout title='App Dashboard'>
  <h1>Successful auth</h1>
</HomeLayout>
z
